In [183]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [184]:
df = pd.read_csv('Information (1).csv')
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,‰ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  gender_gold            50 non-null     object
 13  link_color             20050 non-null  object
 14  name                   20050 non-null  object
 15  profile_yn_gold        50 non-null     object
 16  profileimage           20050 non-null  object
 17  retweet_count          20050 non-null  int64
 18  sidebar_color          20050 non-null  object
 19  text                   20050 non-null  object
 20  tweet_coord            159 non-null    object
 21  tweet_count            20050 non-null  int64
 22  tweet_created          20050 non-null  object
 23  tweet_id               20050 non-null  float64
 24  tweet_location         12566 non-null  object
 25  user_timezone          12252 non-null  object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

In [186]:
df.shape

(20050, 26)

In [187]:
df.corr()

,_unit_id,_golden,_trusted_judgments,gender:confidence,profile_yn:confidence,fav_number,retweet_count,tweet_count,tweet_id
_unit_id,1.000000,0.208055,0.207651,0.007918,0.015168,0.024878,-0.004337,-0.024809,0.844887
_golden,0.208055,1.000000,0.998592,0.008818,0.005592,0.003794,-0.000744,-0.009669,-0.005985
_trusted_judgments,0.207651,0.998592,1.000000,0.009550,0.005543,0.003851,-0.000765,-0.009703,-0.005781
gender:confidence,0.007918,0.008818,0.009550,1.000000,0.313628,-0.030889,-0.004947,-0.013558,0.027901
profile_yn:confidence,0.015168,0.005592,0.005543,0.313628,1.000000,-0.003256,0.001376,-0.012665,0.019044
fav_number,0.024878,0.003794,0.003851,-0.030889,-0.003256,1.000000,0.008274,0.066733,0.041788
retweet_count,-0.004337,-0.000744,-0.000765,-0.004947,0.001376,0.008274,1.000000,-0.001263,-0.006466
tweet_count,-0.024809,-0.009669,-0.009703,-0.013558,-0.012665,0.066733,-0.001263,1.000000,-0.037836
tweet_id,0.844887,-0.005985,-0.005781,0.027901,0.019044,0.041788,-0.006466,-0.037836,1.000000

In [188]:
df.describe()

,_unit_id,_trusted_judgments,gender:confidence,profile_yn:confidence,fav_number,retweet_count,tweet_count,tweet_id
count,2.005000e+04,20050.000000,20024.000000,20050.000000,20050.000000,20050.000000,2.005000e+04,2.005000e+04
mean,8.157294e+08,3.615711,0.882756,0.993221,4382.201646,0.079401,3.892469e+04,6.587350e+17
std,6.000801e+03,12.331890,0.191403,0.047168,12518.575919,2.649751,1.168371e+05,5.000124e+12
min,8.157192e+08,3.000000,0.000000,0.627200,0.000000,0.000000,1.000000e+00,6.587300e+17
25%,8.157243e+08,3.000000,0.677800,1.000000,11.000000,0.000000,2.398000e+03,6.587300e+17
50%,8.157294e+08,3.000000,1.000000,1.000000,456.000000,0.000000,1.144150e+04,6.587300e+17
75%,8.157345e+08,3.000000,1.000000,1.000000,3315.500000,0.000000,4.002750e+04,6.587400e+17
max,8.157580e+08,274.000000,1.000000,1.000000,341621.000000,330.000000,2.680199e+06,6.587400e+17

In [189]:
df.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [190]:
df.drop(columns = ['gender_gold','_unit_id','profile_yn_gold','profile_yn','tweet_id','link_color','profileimage','tweet_coord','fav_number','sidebar_color','tweet_created','tweet_location','user_timezone','retweet_count','tweet_count','created','_last_judgment_at'],axis = 0,inplace = True)
# all the values in gender_gold are None
# all the values in the profile_yn are same
# 19800 out of 20000 values are null

In [191]:
df.columns

Index(['_golden', '_unit_state', '_trusted_judgments', 'gender',
       'gender:confidence', 'profile_yn:confidence', 'description', 'name',
       'text'],
      dtype='object')

In [192]:
# dependent - gender
# independent - gender:confidence, name, description,

In [193]:
df.isnull().sum()

_golden                     0
_unit_state                 0
_trusted_judgments          0
gender                     97
gender:confidence          26
profile_yn:confidence       0
description              3744
name                        0
text                        0
dtype: int64

In [194]:
df.shape

(20050, 9)

In [195]:
df['bool'] = pd.get_dummies(df['_golden'],prefix="bool",drop_first = True)
df.drop(['_golden'],axis = 1,inplace = True)
df.head()

,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn:confidence,description,name,text,bool
0,finalized,3,male,1.0000,1.0,i sing my own rhythm.,sheezy0,Robbie E Responds To Critics After Win Against...,0
1,finalized,3,male,1.0000,1.0,I'm the author of novels filled with family dr...,DavdBurnett,‰ÛÏIt felt like they were my friends and I was...,0
2,finalized,3,male,0.6625,1.0,louis whining and squealing and all,lwtprettylaugh,i absolutely adore when louis starts the songs...,0
3,finalized,3,male,1.0000,1.0,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",douggarland,Hi @JordanSpieth - Looking at the url - do you...,0
4,finalized,3,female,1.0000,1.0,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,WilfordGemma,Watching Neighbours on Sky+ catching up with t...,0

In [196]:
df.columns

Index(['_unit_state', '_trusted_judgments', 'gender', 'gender:confidence',
       'profile_yn:confidence', 'description', 'name', 'text', 'bool'],
      dtype='object')

In [197]:
df['bool']

0        0
1        0
2        0
3        0
4        0
        ..
20045    1
20046    1
20047    1
20048    1
20049    1
Name: bool, Length: 20050, dtype: uint8

In [198]:
df['unit'] = pd.get_dummies(df['_unit_state'],prefix = "unit",drop_first = True)
df.drop(['_unit_state'],axis = 1,inplace = True)
df.columns

Index(['_trusted_judgments', 'gender', 'gender:confidence',
       'profile_yn:confidence', 'description', 'name', 'text', 'bool', 'unit'],
      dtype='object')

In [200]:
df.head()

,_trusted_judgments,gender,gender:confidence,profile_yn:confidence,description,name,text,bool,unit
0,3,male,1.0000,1.0,i sing my own rhythm.,sheezy0,Robbie E Responds To Critics After Win Against...,0,0
1,3,male,1.0000,1.0,I'm the author of novels filled with family dr...,DavdBurnett,‰ÛÏIt felt like they were my friends and I was...,0,0
2,3,male,0.6625,1.0,louis whining and squealing and all,lwtprettylaugh,i absolutely adore when louis starts the songs...,0,0
3,3,male,1.0000,1.0,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",douggarland,Hi @JordanSpieth - Looking at the url - do you...,0,0
4,3,female,1.0000,1.0,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,WilfordGemma,Watching Neighbours on Sky+ catching up with t...,0,0

In [202]:
df.isnull().sum()

_trusted_judgments          0
gender                     97
gender:confidence          26
profile_yn:confidence       0
description              3744
name                        0
text                        0
bool                        0
unit                        0
dtype: int64